<head>
    <!-- Page metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta charset="UTF-8">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <link rel="icon" href="assets/img/logos/favicon_circle_light.png" type="image/png" media="(prefers-color-scheme: light)">
    <link rel="icon" href="assets/img/logos/favicon_circle_dark.png" type="image/png" media="(prefers-color-scheme: dark)">

    <!-- CSS style -->
    <link href="assets/css/home.css" rel="stylesheet" type="text/css">

    <!-- Javascript functions -->
    <script type="text/javascript" src="assets/js/home.js"></script>
</head>