<div class="footer">
    <div class="credits">
        <p>
            &copy; Simon Bouchard, 2025
            {% if page.url != "/credits.html" %} 
            - <a data-i18n="credits" href="credits.html">Photo Credits</a>
            {% endif %}
        </p>
    </div>

    <div class="flag">
        <img class="button" src="assets/img/lang/en.png" data-i18n="flag">

        <div class="lang_menu">
            <!-- <div class="flag_hover_area"></div> -->
            {% for lang in site.data.lang %}
            <div class="newlang button" onclick="changeLanguage('{{ lang.code }}')">
                <p>{{ lang.name }}</p>
                <img src="assets/img/lang/{{ lang.code }}.png" alt="{{ lang.code }}">
            </div>
            {% endfor %}
        </div>
    </div>
</div>